body {
    background-color: #0a0a0a;
    background-image: radial-gradient(circle at top, #001a1a, #000000);
    color: white;
    font-family: Arial;
    text-align: center;
}
h1 {
    color: #00ffff;
    font-size: 60px;
    letter-spacing: 3px;
    text-shadow:
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}
@keyframes neonPulse {
    0% {
        box-shadow: 0 0 5px #00ffff;
    }
    50% {
        box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff;
    }
    100% {
        box-shadow: 0 0 5px #00ffff;
    }
}
.game-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 90%;
    margin: 40px auto;
}
.game-card {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    border: 2px solid #00ffff;
    background-color: #242323;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    animation: neonPulse 3s infinite ease-in-out;
}
.game-card:hover {
    transform: translateY(-10px) scale(1.02);
    border-color: #ff00cc;
    animation: none;
}
button {
    background: linear-gradient(45deg, #ff00cc, #8000ff);
    color: white;
    border:none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}
button:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
    box-shadow:
        0 0 10px #ff00cc,
        0 0 20px #8000ff;
    filter: brightness(1.2);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(10, 10, 10, 0.8);
    border-bottom: 2px solid #00ffff;
    box-shadow: 0 0 15px rgba(0, 225, 255, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    color: #00ffff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 10px #00ffff;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #00ffff;
    text-shadow: 0 0 8px #00ffff;
}
